head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Web Starter Kit
  link(href='https://fonts.googleapis.com/css?family=Anton|Kanit:500', rel='stylesheet')
  link(media='all', rel='stylesheet', href='assets/css/vendor.min.css')
  link(media='all', rel='stylesheet', href='assets/css/style.min.css')
  link(rel='apple-touch-icon', sizes='180x180', href='assets/images/favicon/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='assets/images/favicon/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='assets/images/favicon/favicon-16x16.png')
  link(rel='manifest', href='assets/images/favicon/site.webmanifest')
  meta(name='msapplication-TileColor', content='#b91d47')
  meta(name='theme-color', content='#ffffff')
