doctype html
html(lang='en')
  include ../partials/head
  body
    #wrapper
      .page-holder
        .elements-wrapper
          .el.circle1
          .el.rect1
          .el.circle2
          .el.circle3
          .el.circle4
          .el.multi-angles
          .el.circle5
          .el.rect2
        .logo-row 
          a(href="/")
            img(src="assets/images/logo.svg", alt="Bato Agence Web")
          h1.h1 Bato Agence Web
        .info-box.decorated Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ...
        .owl-carousel.owl-theme.heading-slider
          div We Create Space Design 0
          div We Create Space Design 1
          div We Create Space Design 2
          div We Create Space Design 3
          div We Create Space Design 4 
          div We Create Space Design 5
          div We Create Space Design 6
        .contact-row
          a(href="mailto:contact@bato-webdesign.net") contact@bato-webdesign.net
    include ../partials/foot