doctype html
html(lang='en')
  include ../partials/head
  body
    #wrapper
      .page-holder
        .elements-wrapper
          canvas(id="shape" width="1695" height="967")
        .container
          .logo-row 
            a(href="/")
              img(src="assets/images/logo.svg", alt="Bato Agence Web")
            h1.h1 Bato Agence Web
          .info-box.decorated Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ...
          .owl-carousel.owl-theme.heading-slider
            h2.h2
              .title-row We
              .title-row Create
              .title-row Space Design 0
            h2.h2 
              .title-row We
              .title-row Create
              .title-row Space Design 0
            h2.h2
              .title-row We
              .title-row Create
              .title-row Space Design 0
            h2.h2
              .title-row We
              .title-row Create
              .title-row Space Design 0
            h2.h2
              .title-row We
              .title-row Create
              .title-row Space Design 0
            h2.h2 
              .title-row We
              .title-row Create
              .title-row Space Design 0
            h2.h2
              .title-row We
              .title-row Create
              .title-row Space Design 0
            h2.h2
              .title-row We
              .title-row Create
              .title-row Space Design 0
          .contact-row
            a(href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#098;&#097;&#116;&#111;&#045;&#119;&#101;&#098;&#100;&#101;&#115;&#105;&#103;&#110;&#046;&#110;&#101;&#116;") &#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#098;&#097;&#116;&#111;&#045;&#119;&#101;&#098;&#100;&#101;&#115;&#105;&#103;&#110;&#046;&#110;&#101;&#116;
    include ../partials/foot